.myCard {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.myCard img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.myCard .card-footer {
  padding: 10px 25px;
  background-color: #fff;
  border-top: none;
}
.myCard .fa {
  font-size: 20px;
  padding: 0;
  margin: 0 5px 0 5px;
}
.myCard .fa-heart {
  color: black;
}
.myCard .fa-envelope {
  color: rgb(41, 131, 241);
}
textarea,
input {
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}
input {
  width: 50%;
}
.fa-circle {
  color: green;
  font-size: 10px;
}



@media screen and (max-width: 990px) {
  .myCard{
    width: 200px;
   }
  
  strong{
   font-size:18px ;
  }
  p{
   font-size:15px ;
  }
}

@media screen and (max-width: 767px) {
 
  .myCard{
    width: 150px;
   
  }
  strong{
   font-size:16px ;
  }
  p{
   font-size:14px ;
  }
}

  @media screen and (max-width: 500px) {
    
    .myCard{
      width: 130px;
     }
    
    strong{
     font-size:13px ;
    }
    p{
     font-size:11px ;
    }

    form h4{
      font-size: 16px;
    }
    
    .member-tabset > .nav-tabs > li.active > a {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 430px) {
    .myCard{
      width: 80px;
     }
     strong{
      font-size:11px ;
     }
     p{
      font-size:10px ;
     }
     
  }

