/* You can add global styles to this file, and also import other style files */

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

/*tabset styling  */
tabset tab {
  padding: 10px;
}
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #d6e2f4;
  border-radius: 5%;
}
.nav-tabs > li.open,
.member-tabset > .nav-tabs > li {
  margin-right: 7px;
  font-weight: bold;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

@media screen and (max-width: 500px) {
  .member-tabset > .nav-tabs > li > a {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }
}
@media screen and (max-width: 767px) {
  .member-tabset > .nav-tabs > li > a {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    
  }
  .member-tabset > .nav-tabs > li > a {
    font-size: 16px;
  }
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #3f97f6;
  border-radius: 5%;

  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  
}

.primengLibFile{
  width:auto;
  height:auto;
  display: flex;
}
.p-fileupload .p-fileupload-buttonbar .p-button {
  margin-bottom: 10px;
  margin-right: 5px;
}
.p-fileupload .p-fileupload-content ,.p-fileupload .p-fileupload-buttonbar{
  background-color:transparent;
}
@media screen and (max-width: 430px) {
  .p-fileupload .p-fileupload-buttonbar .p-button {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .member-tabset > .nav-tabs > li > a {
    font-size: 14px;
  }

}


body{
  background: radial-gradient(circle, rgb(225, 192, 207) 0%, rgb(189, 213, 240) 100%);

}