<div class="container">
    <h1>Welcome to Your Angular Project!</h1>
    <div class="dropdown">
      <button id="dropdownMenuButton" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" ngxDropdown>
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  