<div class="card mb-4 ">
    <div class="card-img-wrapper">
        
        <img src="{{member.photoUrl ||'/assets/carousel-imgs/Event-Image-Not-Found.jpg'}}" alt="{{member.knownAs}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item" routerLink="/member/username/{{member.username}}">
                <i class="fa fa-user-plus"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-heart"(click)="addlike(member)"
                ></i>
            </li>
            <li class="list-inline-item" routerLink="/member/username/{{member.username}}" [queryParams]="{tab:3}">
                <i class="fa fa-envelope" ></i>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <h6 class="card-title text-center mb-1">
            
            <span [class.is-online]="(presence.onlineUsers$|async)?.includes(member.username)"
                  [class.is-offline]="!(presence.onlineUsers$|async)?.includes( member.username)"
            >
                <i class="fa fa-user me-2"></i>
            </span>
            <span>{{member.knownAs}}, {{member.age}}</span>
        </h6>
        <p class="card-text text-muted text-center"><span>{{member.city}}</span></p>
    </div>
</div>