.card {
  border: none;
}
.card-body {
  height: 450px;
}
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
  max-height: 35px;
}
.del {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.del i {
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.row {
}
.send-btn {
  width: 10%;
  color: rgb(12, 122, 159);
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 150%;
}
.senderPlace {
  border: none;
}
textarea {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 80%;
}
.card-footer {
  padding: 0;
  border: none;
}

@media screen and (max-width: 767px) {
  .noMessages {
    font-size: 12px;
  }
  .chat img {
    width: 25px;
  }
  .chat .header {
    font-size: 12px;
  }
  .chat .messageContent {
    font-size: 16px;
  }
  .form-control.input-sm.input-btn {
    font-size: 14px;
  }
  .send-btn {
    font-size: 100%;
  }
  textarea {
    width: 75%;
  }
}
.ClearHistory {
  cursor: pointer;
  background-color: red;
  padding: 3px 5px; /* Padding for left and right */
  color: white;
  font-family: cursive;
  display: inline-block; /* Adjusts width to fit the text */
  font-size: 12px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .card-body {
    height: 400px;
  }
  .send-btn {
    font-size: 80%;
  }
  textarea {
    width: 70%;
  }
  .input-btn {
    margin-right: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .card-body {
    height: 350px;
  }
  .form-control.input-sm.input-btn {
    font-size: 12px;
  }
  .send-btn {
    font-size: 75%;
    margin-left: 0px;
  }
  textarea {
    width: 70%;
  }
  .fa-trash {
    font-size: 50%;
  }
}
