.card {
  border: none;
}
.card-body {
  height: 500px;
}
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
  max-height: 35px;
}
.del {
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .noMessages {
    font-size: 12px;
  }
  .chat img {
    width: 25px;
  }
  .chat .header {
    font-size: 12px;
  }
  .chat .messageContent {
    font-size: 16px;
  }

}

  @media screen and (max-width: 500px) {
    .card-body {
        height: 400px;
      }
      .send-btn{
        margin-top: 5px;
        font-size: 10px;
      }
      .input-btn{
margin-right: 10px;
font-size: 14px;
      }
      
    
  }
  @media screen and (max-width: 480px) {
    .card-body {
        height: 350px;
      }
  }

