<!-- Add  primeng Upload file-->

<div class="row primengLibFile">
  <div class="card flex justify-content-center photo-card">
    <p-toast></p-toast>
    <p-fileUpload name="file" [url]="baseUrl + 'users/add-Photo'" (onUpload)="onUpload($event)"
      (onError)="onError($event)" [multiple]="false" [accept]="allowedFileTypes.join(',')"
      [maxFileSize]="10 * 1024 * 1024" [headers]="getHeaders()">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
</div>

<!-- end upload file -->


<div class="row ">
  <div class=" col-3" *ngFor="let photo of MyMember.photos">
    <div class="imagesEditor">
      <div class="image-wrapper ">
        <img src="{{photo.url || '/assets/carousel-imgs/Event-Image-Not-Found.jpg'}} " alt="{{photo.url}}"
          class="img-thumbnail ">
        <div class="text-overlay ">
          <i [ngClass]="{'disabled': photo.isMain, 'enabled': !photo.isMain} " class="fa fa-regular fa-id-badge p-1 m-1" (click)="SetMainPhoto(photo)"></i>
          <i class="fa fa-trash p-1 m-1" (click)="deletePhoto(photo.id)"></i>
  
        </div>
      </div>
    </div>
  </div>
</div>